body {
    background-image: url("Scroll_Background.jpg");
    background-size: auto;
}

h1 {
    text-align: center;
    background-image: url("Scroll_Background.jpg");
    background-size: auto;
    font-family: Aclonica;
}

h2 {
    text-align: center;
    background-image: url("Scroll_Background.jpg");
    background-size: auto;
}

.question {
    text-align: center;
    font-size: x-large;

}

.quote_1 {
    text-shadow: 15px;
    margin-left: 20%;
    margin-right: 20%;
}
#map {
    border: 1px solid black; 
}
