@media only screen and (min-width: 60rem) {
    .socialIcons {
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5px;
        padding-left: 3rem;
        padding-right: 2rem;
    }


}