@media only screen and (min-width: 38em) {
  header {
    font-size: 1.1rem;
  }


  footer {
    max-width: 100%;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
  }
}  